.background {
  width: 1440px;
  background: url('../images/2.png');
}

.board {
  width: 1000px;
  height: 700px;
  float: right;
}

.sidebar {
  width: 340px;
  float: left;
}

.balloon {
  position: absolute;
  bottom: -50px;
}

.logo {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  color: black;
}

.starttext {
  text-align: center;
  font-size: 50;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: black;
}

.startbutton {
  text-align: center;
  font-size: 50px;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: black;
}

.startbutton:hover {
  color: white;
}

.reset-button:hover {
  color: white;
}

.gameover {
  text-align: center;
  font-size: 100px;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: black;
}

.reset-button {
  text-align: center;
  font-size: 50px;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: black;
}



#score {
  font-size: 50px;
  text-align: left;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: black;
}

#high-score {
  font-size: 50px;
  text-align: left;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: black;
}
